<div class="container">
    <div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
        <h3>Linux内核体系结构建模与验证系统</h3>
        <p>导入内核源码，即可自动建模和验证。</p>
    </div>
    <div class="col-md-3 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
        <h3>相关网站</h3>
        <ul class="float">
            <li><a href="#" target="_blank">北京航空航天大学</a></li>
            <li><a href="#" target="_blank">计算机学院</a></li>
        </ul>
    </div>

    <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
        <h3>关注我们</h3>
        <ul class="fh5co-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-google-plus"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>


    <div class="col-md-12 fh5co-copyright text-center">
        <p>&copy; 北京航空航天大学2019级计算机技术1班何馨蕾 版权所有。
            <span>特别鸣谢 <i class="icon-heart"></i> 导师：吕老师</span>
        </p>
    </div>

</div>