<div class="container">
    <div class="row">
        <div class="header-inner">
            <h1><a href="/#">LAMVS系统<span>.</span></a></h1>
            <nav role="navigation">
                <ul>
                    <!--<li class="active"><a href="/#">个性推荐</a></li>-->
                    <li><a href="/import_demand">建模</a></li>
                    <li><a href="/verify">验证</a></li>
                    <li><a href="/rebuild">重构</a></li>
                    <li><a href="/m_demand">管理</a></li>

                    <!--
                    <li class="cta">
                        <a href="/m_mine" th:text="${session.userEntity.userName}">登录</a>
                        <a href="/user/logout">注销</a>
                    </li>
                    -->
                </ul>
            </nav>
        </div>
    </div>
</div>